*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    // background: #314755;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container{
    background-color: #000000ab;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    color: white;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 35px;
    input{
        border: none;
        background-color: #ccc;
        border-radius: 30px;
        padding: 5px 10px;
        font-size: 120%;
        margin-right: 5px;
        width: 100%;
    }
    button{
        border-radius: 50%;
        padding: 10px 15px;
        border: none;
        background-color: #ccc;
    }
}
